.light-blue {
    color: #5590ad;
    cursor: pointer;
}

.links {
    color: black;
    text-decoration: none;
}

.links:hover {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.footer {
    background-color: #c2c2c2;
    text-decoration: none;
    height: 50px;
    color: black;
}

.title-pp {
    color: #c2c2c2;
}

.container-pp {
    background: #f2f2f2;
    border: 1px solid #c2c2c2;
}